<h1 class="pb-4">Categories</h1>

<!-- Breadcrump -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Categories</li>
  </ol>
</nav>

<!-- Categories -->
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 mb-4">
  <% if(typeof categories !== "undefined" && categories.length > 0) { %> <% categories.forEach((category, index) => { %>
  <a href="/categories/<%- category.name %> " class="col text-center category__link">
    <div class="category__img shadow">
      <img src="img/<%- category.image %>" alt="<%- category.name %>" loading="lazy" />
    </div>
    <div class="pt-1"><%- category.name %></div>
  </a>
  <% } ) %> <% } %>
</div>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <% if(typeof category !== "undefined" && category.length > 0) { %> <% category.forEach((info, index) => { %>
  <a href="/info/<%= info.id %>" class="col text-center category__link">
    <div class="category__img category__img--large shadow">
      <img src="/uploads/<%= info.image %> " alt="<%= info.name %>" loading="lazy" />
    </div>
    <div class="pt-1"><%= info.name %></div>
  </a>
  <% }) %> <% } else { %>
  <p>No items found.</p>
  <% } %>
</div>
